.logo {
    width: 150px;
}
.header {
    position: fixed;
    z-index: 1000;
    padding: 10px;
    height: 60px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.newproduct {
    padding-top: 100px;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav-ul a {
    margin-left: 10px;
    color: rgb(144, 104, 2);
}
.burger {
    display: none;
}
.activeNav {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.activeNav ul {
    display: flex;
    flex-direction: column;
}
.burgerHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* new-product */
.newprodacts {
    margin-bottom: 20px;
}
.newprodacts img {
    width: 200px;
}
.newprodacts h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}
.new-product1, .new-product2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.new-product-1, .new-product-2, .new-product-3 {
    margin-right: 15px;
}

.new-product2-1, .new-product2-2, .new-product2-3 {
    margin-right: 15px;
}

/* best saller */
.bestsallers {
    margin-bottom: 20px;
}
.bestsallers img {
    width: 200px;
}
.bestsallers h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}
.best-saller1, .best-saller2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.best-saller-1, .best-saller-2, .best-saller-3 {
    margin-right: 15px;
}

.best-saller2-1, .best-saller2-2, .best-saller2-3 {
    margin-right: 15px;
}